@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$primary: #151515;
$secondary: #e5e7eb;
$white: #fff;
$terciary: #0000;
$grey: rgb(217, 217, 217);
$green: rgb(78, 225, 160);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary;

    header {

        .header-container {
            color: $white;
            font-family: 'Space Grotesk', sans-serif, serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 5vh;

            h2.active {
                border-bottom: 3px solid $green;
            }

            i {
                color: $secondary;
                font-size: 1.5rem;
            }

            i:hover {
                color: $green;
            }
        }

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 5vh;
            margin-left: 5vh;
            margin-right: 5vh;
            padding-bottom: 15vh;
            border-bottom: 0.4px solid $white;

            .container-text {
                flex: 1;

                .title {
                    color: $white;
                    font-family: 'Space Grotesk', sans-serif, serif;
                    font-size: 3.5rem;
                    margin-bottom: 5vh;
                }

                .container-paragraph {
                    color: $grey;
                    font-family: 'Space Grotesk', sans-serif, serif;
                    font-size: 1.3rem;
                    margin-bottom: 5vh;
                }

                a {
                    background-color: $primary;
                    color: $white;
                    font-family: 'Space Grotesk', sans-serif, serif;
                    font-size: 1.5rem;
                    cursor: pointer;
                    text-decoration: none;
                }

                a.active {
                    border-bottom: 3px solid $green;
                }

                a:hover {
                    color: $green;
                }

                i {
                    display: none;
                }
            }

            .image-container {
                flex: 1;
                margin-right: 5vh;
                margin-top: 5vh;
                max-width: 100%;
                height: auto;

                @media screen and (max-width: 480px) {
                    display: none;
                }
            }
        }
    }

    main {

        #experience-container,
        .new-card-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            /* Espaço entre os itens */
            margin: 5vh 5vh;
            font-family: 'Space Grotesk', sans-serif, serif;

            @media screen and (max-width: 480px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
                justify-content: center;
            }

            @media screen and (max-width: 1000px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-left: 5vh;
                margin-right: 5vh;
                word-wrap: break-word;
            }

            .new-card-title {
                color: $white;
                font-size: 3rem;
                margin-bottom: 4vh;
            }

            .new-card-paragraph {
                color: $grey;
                font-family: 'Space Grotesk', sans-serif, serif;
                font-size: 1.25rem;
            }
        }

        #projects {
            .projects-title {
                color: $white;
                font-family: 'Space Grotesk', sans-serif, serif;
                font-size: 3.5rem;
                margin: 5vh 5vh;
            }

            #card-grid-projects,
            .card-projects-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 3vh 2vh;
                gap: 5px;

                @media screen and (max-width:480px) {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    justify-content: center;
                    align-items: center;
                }

                @media screen and (max-width:1000px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-content: center;
                    align-items: center;
                }

                .card {
                    justify-content: center;
                    align-items: center;

                    .new-container {
                        .card-img {
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    .project-title {
                        color: $white;
                        font-family: 'Space Grotesk', sans-serif, serif;
                        font-size: 1.8rem;
                        margin-top: 3vh;
                        margin-bottom: 3vh;
                    }

                    .card-description {
                        color: $grey;
                        font-family: 'Space Grotesk', sans-serif, serif;
                        font-size: 1.3rem;
                        margin-bottom: 3vh;
                    }

                    .card-link {
                        font-family: 'Space Grotesk', sans-serif, serif;
                        text-decoration: none;
                        color: $white;
                    }

                    .card-link:hover {
                        color: $green;
                    }

                    .card-link.active {
                        border-bottom: 3px solid $green;
                    }
                }
            }
        }
    }

    footer {
        .footer-container {
            color: $white;
            font-family: 'Space Grotesk', sans-serif, serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 5vh;
            margin-bottom: 5vh;
            margin-left: 5vh;
            margin-right: 5vh;
            border-top: 0.4px solid $white;
        }

        .footer-title {
            margin-top: 5vh;
        }

        h2.active {
            border-bottom: 3px solid $green;
        }

        i {
            color: $secondary;
            margin-top: 5vh;
            font-size: 1.5rem;
        }

       i:hover {
        color: $green;
       }
    }
}